extends ../layout

block content
  .container
    h1.page-header= post.title
    p
      b by #{post.email}
      | 
      span at #{moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
      | (조회수 #{post.read})
    p.well(style='white-space:pre;')= post.content
    
     hr
    h3 예약신청 목록
    table.table
      tr
        th To
        th 신청자
        th 인원수
        th 예약 신청 날짜
        th time
        th 예약 승인여부
      each reservation in reservations
        tr
          if (currentUser) 
            td #{post.email}
            td 
              a(href='/users/#{currentUser._id}') #{currentUser.email}
            td= reservation.Pnum
            td= reservation.content
            td= moment(reservation.createdAt).format('YYYY/MM/DD')
            td= reservation.reserve  
    form.form-inline(action='/posts/' + post._id + '/reservations', method='POST')
      .form-group
        label.sr-only(for='Pnum') Pnum
        input.form-control(name='Pnum', placeholder='명수 ex. 3명')
      .form-group
        label.sr-only(for='content') content
        input.form-control(name='content', size=50, placeholder='기간 ex. 1995 04 14~2016 12 08')
      button.btn.btn-info 예약신청하기
      a.btn.btn-default(href='/posts') 목록

